@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: "Montserrat", sans-serif;
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray-100: #CFCFCF;
  --color-gray-200: #9E9E9E;
  --color-gray-300: #6E6E6E;
  --color-gray-400: #3D3D3D;
  --color-gray-500: #0D0D0D;

  --font-primary: var(--font-montserrat);
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: 400;
  margin: 0;
  padding: 0;
}


@layer base {
  html {
    @apply scroll-smooth;
  }

  /* html, */
  body{
    @apply bg-black text-white antialiased;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .border-color {
    border-color: var(--color-gray-400);
    ;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}