@import "tailwindcss";

@theme inline {
  --color-background: var(--color-black);
  --color-foreground: var(--color-white);
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-100: #cfcfcf;
  --color-gray-200: #9e9e9e;
  --color-gray-300: #6e6e6e;
  --color-gray-400: #3d3d3d;
  --color-gray-500: #0d0d0d;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --lh-heading-tight: 1.2;
  --lh-heading: 1.3;
  --lh-body: 1.6;

  --ls-tight: -0.02em;
  --ls-normal: 0em;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-black text-white antialiased;
     font-family: var(--font-montserrat), sans-serif;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 64px;
    font-weight: var(--font-weight-regular);
    line-height: 1;
  }

  h2 {
    font-size: 48px;
    font-weight: var(--font-weight-regular);
    line-height: 1;
  }

  h3 {
    font-size: 36px;
    font-weight: var(--font-weight-medium);
    line-height: 1;
  }

  h4 {
    font-size: 24px;
    font-weight: var(--font-weight-medium);
    line-height: 1;
  }

  h5 {
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    line-height: 1;
  }

  p {
    font-size: 1rem;
    /* 16px */
    font-weight: var(--font-weight-regular);
    line-height: var(--lh-body);
  }
}

a {
  color: inherit;
  text-decoration: none;
}


@layer utilities {
  .border-color {
    border-color: var(--color-gray-400);
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-b1 {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
  }

  .text-b2 {
    font-size: 14px;
    font-weight: var(--font-weight-regular);
  }

  .text-b3 {
    font-size: 12px;
    font-weight: var(--font-weight-regular);
  }

  .text-b4 {
    font-size: 8px;
    font-weight: var(--font-weight-regular);
  }
}